/* layout */

html {
  display: flex;
  height: 100%;
}

body {
  min-width: 1024px;
  flex: 1;
  font-family: Arial;
  padding: 5px;
}

.Root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  margin: 5px;
}

.Columns {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Column {
  display: flex;
  flex-direction: column;
}

.Column-left {
  width: 400px;
}

.Column-center {
  flex: 1;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
}

.FullHeight {
  display: flex;
  flex-direction: column;
}

.Column-Right {
  width: 250px;
  background: #333;
}


/* camera */
.Camera {
  width: 400px;
  height: 300px;
}

.CameraPredictions {
  height: 100%;
  overflow-y: scroll;
  font-size: 20px;
}


/* images */
.Images {
  height: 360px;
  overflow: hidden;
  background: #eee;
  border: 2px solid #ddd;
  display: flex;
  flex-direction: row;
}

.ImageThumbnails {
  width: 130px;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid #ddd;
  padding-right: 10px;
}

.ImageThumbnail {
  margin: 2px;
}
.ImageThumbnail-selected {
  background: #ffa500aa;
  outline: 3px solid orange;
}

.ImageProjection {
  flex: 1;
}



/* texts */
.Texts {
  height: 360px;
  overflow: hidden;
  background: #ccc;
  border: 2px solid #ccc;
  border-top: 0;
  display: flex;
  flex-direction: row;
}

.TextsThumbnails {
  width: 130px;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid #bbb;
  padding-right: 10px;
}

.Text {
  cursor: pointer;
  font-size: 12px;
  padding: 3px;
  margin: 2px;
  color: #333;
}
.Text:hover {
  outline: 2px solid orange;
}

.Text-selected {
  background: #ffa500aa;
  outline: 2px solid orange;
}

.TextsProjection {
  flex: 1;
}

.Workspace {
  height: 720px;
}